fail_fast: false

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        types: [python]
        args: [--fix]  # Auto-fix safe issues
      - id: ruff-format
        types: [python]
